<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonitoraggioRifiuti.My.MySettings.SicuraConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Sicura;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=90;Encrypt=False;TrustServerCertificate=False;Application Name=&quot;Microsoft SQL Server Data Tools, Create Project&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>